@{
    ViewBag.Title = "Administration panel";
    Layout = "_Layout";
}

<div uk-grid>
    <div class="uk-margin">
        <ul class="uk-subnav uk-subnav-divider">
            <li>
                <a href="#addAlbumFormModal" uk-toggle>Add album</a>
            </li>
        </ul>
    </div>
    <div>
        @await Component.InvokeAsync("AlbumsList")
    </div>
</div>

@* Modals *@

<div id="addAlbumFormModal" uk-modal>
    @await Html.PartialAsync("_CreateAlbum")
</div>