@model IEnumerable<Album>

<div uk-grid>
    @if (Model.Any())
    {
        foreach (var album in Model)
        {
            <div>
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">@album.Name</h3>
                    </div>
                    <div class="uk-card-body">@album.Description</div>
                    <div class="uk-card-footer">
                        <a asp-controller="AdminArt" asp-action="ShowEditAlbum" asp-route-id="@album.Id" class="uk-button uk-button-text">Edit album</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <p>Albums is empty</p>
        </div>
    }
</div>