@model IEnumerable<IAlbum>

@{
    Layout = "_ArtLayout";
    ViewData["Title"] = "Art";
    ViewData["Footer"] = "| Pictures by Ksenia Kallagova";
}
@if (Model.Any())
{
    <div class="uk-text-center" uk-height-viewport="expand:true" uk-grid>
        @foreach (var album in Model)
        {
            @await Html.PartialAsync("ShowAlbum", album)
        }
    </div>
}
else
{
    @await Html.PartialAsync("_EmptyAlbumsMessage")
}