@model IAlbum

<div class="uk-card uk-card-small uk-width-1-3" uk-scrollspy="cls:uk-animation-fade; repeat: true">
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="animation: push; autoplay:true; ratio: 1:1">
        <ul class="uk-slideshow-items" uk-lightbox>
            @foreach (var picture in Model.Pictures)
            {
                <li>
                    <a href="@picture.Path" class="uk-position-cover uk-animation-reverse uk-transform-origin-center-right" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
                        <img src="@picture.Path" alt="@picture.Name" uk-cover/>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>